.p-cart__back{
    /*display: none;*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.7);
    z-index: 100;
}
.p-cart{
    width: calc(100vw - 15px);
    position: absolute;
    max-width: 1056px;
    padding: 36px 50px 50px 50px;
    top: 50%;
    left: calc(50% - 7.5px);
    transform: translate(-50%, -50%);
    background: #FFFFFF;
}
.p-cart__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5em;
    color: #282828;
}
.p-cart__description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #282828;
    margin: 7px 0 0;
}
.p-cart__description a{
    line-height: 150%;
    color: #C83947;
    text-decoration: underline;
}
.p-cart__description a:hover{
    text-decoration: none;
}
.p-cart-product__price-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 2.5;
    color: #909090;
    padding-right: 5px;
}
.p-cart-product{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    padding-bottom: 48px;
}
.p-cart.in-row .p-cart-product{
    align-items: center;
}
.p-cart-product__image{
    width: 100px;
    max-width: 100px;
    text-align: center;
}
.p-cart-product__image img{
    max-width: 100px;
    max-height: 150px;
}
.p-cart-product__info{
    grid-area: info;
    display: flex;
}
.p-cart.in-row .p-cart-product__info{
    align-items: center;
}
.p-cart-product__desc{
    max-width: 290px;
    padding-top: 7px;
    margin-left: 18px;
}
.p-cart-product__desc-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
    color: #282828;
}
.p-cart-product__desc-count{
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #909090;
}
.p-cart-product__desc-count b{
    color: #282828;
}
.p-cart-product__desc-code{
    display: none;
    margin-top: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #909090;
}
.p-cart-product__desc-subdesc{
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.5em;
    color: #909090;
}
.p-cart-product__desc-subdesc i{
    font-style: unset;
    font-weight: 600;
}
.p-cart-product__desc-subdesc.mobile{
    display: none;
}
.p-cart-product__count{
    grid-area: count;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.p-cart-product__count-input-block{
    position: relative;
    padding: 7px 30px;
    width: 125px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}
.p-cart-product__count-sign{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 8px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}
.p-cart-product__count-sign:hover{
    color: #C83947;
}
.p-cart-product__count-sign.plus{
    right: 0;
}
.p-cart-product__count-sign.minus{
    left: 0;
}
.p-cart-product__count-input{
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7em;
    color: #282828;
}
.p-cart-product__count-measure{
    margin-top: 10px;
}
.p-cart__measure{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    background: #F1F1F1;
    border-radius: 3px;
}
.p-cart__measure-item{
    padding: 0 3px;
    height: 18px;
    width: calc(100% / 3);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #909090;
    cursor: pointer;
}
.p-cart__measure-item.act{
    font-weight: 600;
    color: #282828;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.p-cart__measure-item.kvm{
    position: relative;
}
.p-cart__measure-item.kvm::after{
    content: "2";
    position: absolute;
    font-size: 8px;
    line-height: 1.6em;
}
.p-cart-product__count-price{
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 2.57em;
    color: #282828;
    transition: opacity 0.3s;
}
.p-cart-product__count-price.invisible{
    opacity: 0;
}
.p-cart.in-row .p-cart-product__count-price{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}
.p-cart-product__10percent{
    grid-area: percent;
    display: flex;
    padding-top: 20px;
}
.p-cart-product__price-wrap{
    display: flex;
    min-width: 130px;
    justify-content: flex-end;
}
.p-cart.in-row .p-cart-product__price-wrap{
    min-width: 240px;
}
.p-cart-product__price-wrap.sample{
    align-items: center;
}
.p-cart-product__price{
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s;
}
.p-cart.in-row .p-cart-product__price{
    display: grid;
    grid-template: "curPrice oldPrice" "creditPrice creditPrice";
    align-items: center;
}
.p-cart-product__price-current{
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
    color: #282828;
}
.p-cart.in-row .p-cart-product__price-current{
    margin-right: 12px;
    grid-area: curPrice;
}
.p-cart-product__price-credit{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.p-cart.in-row .p-cart-product__price-credit{
    grid-area: creditPrice;
}
.p-cart-product__price-credit-price{
    padding: 4px;
    margin-right: 6px;
    background: #008B03;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}
.p-cart-product__price-credit-month{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #909090;
}
.p-cart-product__price-old-block{
    display: flex;
    align-items: center;
    margin-top: -8px;
}
.p-cart.in-row .p-cart-product__price-old-block{
    align-items: baseline;
    margin: 0;
    margin-left: 0px;
    padding-top: 1px;
    grid-area: oldPrice;
}
.p-cart-product__price-old-price{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.25em;
    color: #909090;
    text-decoration: line-through;
}
.p-cart.in-row .p-cart-product__price-old-price{
    line-height: 1em;
}
.p-cart-product__price-old-percent{
    margin-left: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 5px 3px;
    background: #C83947;
    border-radius: 4px;
    box-sizing: border-box;
}

label.soputka-filter-checkbox__label {
    display: inline-flex;
    height: max-content;
    border: 1px solid transparent;
    transition: all 300ms;
    margin-bottom: 0;
}

label.soputka-filter-checkbox__label:hover {
    cursor: pointer;
}

.soputka-filter-checkbox {
    position: relative;
    width: 18px;
    height: 18px;
    top: -1px;
}

.soputka-filter .soputka-filter-checkbox {
    margin-right: 8px;
}

.soputka-filter-checkbox__style {
    border: 1px solid #DEDEDE;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
    transition: all 300ms;
}

.soputka-filter-checkbox__input:checked + .soputka-filter-checkbox__style {
    border: 1px solid #C83947;
}

.soputka-filter-checkbox__input:checked + .soputka-filter-checkbox__style .soputka-filter-checkbox__icon {
    opacity: 1;
}

.soputka-filter-checkbox__icon {
    width: 10px;
    height: 8px;
    opacity: 0;
    transition: all 300ms;
}

.soputka-filter-checkbox__name {
    line-height: 20px;
}

p.tile-shop-stock__title {
    font-weight: normal;
    margin-left: 8px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tile-note-stock {
    position: relative;
    height: max-content;
    margin-left: 8px;
}

.tile-note-stock__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background: #CCCCCC;
    color: white;
    border-radius: 50%;
    font-weight: 600;
    line-height: 10px;
    font-size: 11px;
    cursor: pointer;
}

p.tile-note-stock__text {
    min-width: 260px;
}

.tile-header-smo-popup.tile-header-smo-popup_places_tile-note-stock {
    right: -50px;
}

.tile-note-stock:hover .tile-header-smo-popup {
    display: block;
}

.tile-header-smo-popup {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
    right: -40px;
    padding-top: 15px;
    font-size: 12px;
}

.tile-header-smo-popup:before {
    content: "";
    position: absolute;
    top: 3px;
    right: 51px;
    border: 6px solid transparent;
    border-bottom-color: white;
    z-index: 10;
}

.tile-header-smo-popup__wrap {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 4px 25px #D5D7DD;
    padding: 15px 20px;
    border-radius: 3px;
}

.tile-note-stock__text {
    width: 300px;
}

p.tile-note-stock__text-title {
    font-weight: bold;
    margin-bottom: 5px;
}

p.tile-note-stock__text-text {
    margin-bottom: 10px;
}

ul.tile-note-stock__text-list {
    margin-bottom: 15px;
}

ul.tile-note-stock__text-list li {
    margin-bottom: 5px;
}

.tile-notes-close__places_tile-header-smo-popup {
    top: 10px;
    right: 10px;
    position: absolute;
}

p.tile-header-smo-popup__title {
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 17px;
}

.tile-header-smo-popup__picture {
    display: flex;
    align-items: center;
}

ul.tile-header-smo-popup__items {
    margin-bottom: 25px;
}

li.tile-header-smo-popup__item {

}

a.tile-header-smo-popup__link {
    display: flex;
    align-items: center;
}

li.tile-header-smo-popup__item:not(:first-child) {
    padding-top: 8px;
}

li.tile-header-smo-popup__item:not(:last-child) {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 8px;
}

p.tile-header-smo-popup__name {
    margin-left: 8px;
}

p.tile-header-smo-popup__link {
    line-height: 16px;
    color: #808080;
    margin-bottom: 8px;
}

.tile-header-smo-popup__input {
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-shadow: inset 0 2px 0 #D9DBDC;
    border-radius: 3px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 8px;
    position: relative;
    width: 313px;
    overflow: hidden;
}

.tile-header-smo-popup__input-text::placeholder,
.tile-header-smo-popup__input-text {
    border: 0;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.tile-header-smo-popup__input-copy {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #C83947;
    border: 0;
    background-color: white;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(270deg, #FFFFFF 68.01%, rgba(255, 255, 255, 0) 94.49%);
}

.tile-header-smo-popup__input-copy:active {
    color: black;
}

.p-cart-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #DEDEDE;
}
.p-cart-bottom__info-basket{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #909090;
    opacity: 0;
    transition: opacity 0.3s;
}
.p-cart-bottom__info-basket .count{
    color: #282828;
    font-weight: 700;
    font-size: 15.5px;
    margin-left: 5px;
}
.p-cart-bottom__btns{
    display: flex;
}
.p-cart-bottom__btns .p-cart-btn:nth-child(n+2){
    margin-left: 20px;
}
.p-cart-btn{
    display: block;
    padding: 17px 32px 18px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
}
.p-cart-btn.white{
    font-weight: 500;
    color: #282828;
    border: 1px solid #282828;
    background: #FFFFFF;
    transition: 0.3s;
}
.p-cart-btn.white:hover{
    background: #282828;
    color: #FFFFFF;
}
.p-cart-btn.red{
    font-weight: 600;
    color: #FFFFFF;
    background: #C83947;
    transition: 0.3s;
}
.p-cart-btn.red:hover{
    background: #AC1D2B;
}

.p-cart__cross{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.p-cart__cross:hover{
    opacity: 0.5;
}

.p-cart__cross-icon{
    width: 14px;
    height: 14px;
}

.p-cart__cross-icon.mobile{
    display: none;
}

.p-cart__btn-red-icon{
    display: none;
}

.p-cart-set{
    margin-bottom: 61px;
    margin-top: -26px;
    background: #F1F1F1;
}

.p-cart.in-row .p-cart-set{
    margin-top: 0;
}

.p-cart-set__title{
    display: flex;
    justify-content: space-between;
    padding: 16px 30px 18px 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #909090;
    cursor: pointer;
}

.p-cart-set__title-name.mobile{
    display: none;
}

.p-cart-set__title-count{
    padding-left: 20px;
}

.p-cart-set__title-count-icon{
    width: 12px;
    height: 7.3px;
    margin-left: 10px;
    transform: rotate(180deg);
    -webkit-transition: transform .3s;
    transition: transform .3s;
}

.visible .p-cart-set__title-count-icon{
    transform: rotate(0deg);
}

.p-cart-set__content{
    display: none;
    margin-top: 25px;
    padding: 0 30px 20px 30px;
}

.p-cart-set__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-cart-set__item:nth-child(n+2){
    margin-top: 26px;
}

.p-cart-set__item-link{
    display: flex;
    align-items: center;
}

.p-cart-set__item-img{
    min-width: 75px;
    margin-right: 20px;
    text-align: center;
}

.p-cart-set__item-name{
    width: 242px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.p-cart-set__item-count{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}

.p-cart.in-row .p-cart-set__item-count{
    padding-right: 100px;
}

.p-cart-set__item-price{
    font-weight: 600;
    font-size: 16px;
    line-height: 2.25em;
    color: #282828;
    text-align: right;
}

.p-cart.in-row .p-cart-set__item-price{
    min-width: 75px;
}

.p-cart__measure-name{
    display: none;
}

@media screen and (max-width: 999px) {
    .p-cart {
        width: 100vw;
        max-width: 500px;
        left: 50%;
        padding: 22px 20px 20px 20px;
    }
    .p-cart__title{
        font-size: 18px;
        line-height: 130%;
    }
    .p-cart__description{
        font-size: 12px;
        line-height: 150%;
    }
    .p-cart-product{
        flex-direction: column;
        margin-top: 25px;
        padding-bottom: 0;
        border: none;
    }
    .p-cart-product__desc-code{
        display: block;
    }
    .p-cart-product__desc-subdesc{
        display: none;
    }
    .p-cart-product__desc-subdesc.mobile{
        display: block;
        order: 1;
        margin: -10px 0 30px 0;
        padding: 10px 33px;
        background: #F1F1F1;
        border-radius: 3px;
        font-size: 12px;
        line-height: 150%;
        color: #909090;
    }
    .p-cart-product__info{
        order: 2;
    }
    .p-cart-product__image{
        max-width: 106px;
        width: 106px;
        text-align: center;
    }
    .p-cart-product__image a{
        display: block;
        width: 106px;
    }
    .p-cart-product__image img{
        max-width: 90px;
    }
    .p-cart-product__desc{
        width: 100%;
        max-width: 100%;
        padding-left: 11px;
        margin-left: 0;
        padding-top: 0;
    }
    .p-cart-product__desc-count{
        font-size: 12px;
        line-height: 100%;
    }
    .p-cart-product__price-wrap{
        width: 100%;
        justify-content: flex-start;
        order: 3;
        padding-left: 117px;
    }
    .p-cart.in-row .p-cart-product__price-wrap{
        margin-bottom: 15px;
    }
    .p-cart-product__price-wrap.sample .p-cart-product__price-title,
    .p-cart-product__price-wrap.sample .p-cart-product__price-current{
        font-size: 12px;
        line-height: 100%;
    }
    .p-cart-product__price-wrap.sample .p-cart-product__price-title{
        font-weight: 500;
    }
    .p-cart.in-row .p-cart-product__price-old-block{
        margin: 0;
        margin-bottom: 5px;
    }
    .p-cart-bottom{
        border: none;
        flex-direction: column;
    }
    .p-cart-bottom__info-basket{
        display: none;
        font-size: 12px;
        line-height: 150%;
    }
    .p-cart.sample .p-cart-bottom__info-basket{
        display: block;
        margin-bottom: 15px;
    }
    .p-cart-bottom__info-basket .count{
        font-size: 13px;
    }
    .p-cart-product__count{
        order: 4;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 117px;
    }
    .p-cart-product__count-price{
        width: 125px;
        font-size: 12px;
        line-height: 300%
    }
    .p-cart.in-row .p-cart-product__count-price {
        position: absolute;
        top: 100%;
        left: calc(117px + (125px / 2));
        transform: translateX(-50%);
        width: max-content;
    }
    .p-cart-product__count-measure{
        position: relative;
        margin: 0;
    }
    .p-cart.in-row .p-cart-product__price{
        display: grid;
        grid-template: "oldPrice" "curPrice" "creditPrice";
        align-items: center;
    }
    .p-cart__measure-name{
        display: block;
        min-width: 71px;
        margin-left: 5px;
        padding: 12px 25px 13px 7px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 2px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #282828;
        cursor: pointer;
    }
    .p-cart__measure-name::after{
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        right: 8px;
        top: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1.23975L6 6.47948L0.999999 1.23975' stroke='%23909090'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
    }
    .p-cart__measure-name.visible::after{
        transform: rotate(180deg);
    }
    .p-cart__measure{
        display: none;
        position: absolute;
        width: calc(100% - 5px);
        left: 5px;
        top: calc(100% + 5px);
        z-index: 1;
    }
    .p-cart__measure-name.visible + .p-cart__measure{
        display: block;
    }
    .p-cart__measure-item{
        width: 100%;
        padding: 5px 5px;
        height: auto;
        text-align: left;
    }
    .p-cart.in-row .p-cart-product{
        align-items: baseline;
        margin-bottom: 20px;
    }
    .p-cart-product__10percent{
        order: 5;
        padding-left: 117px;
    }
    .p-cart-bottom__btns{
        width: 100%;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .p-cart-btn{
        margin: 0 !important;
        padding: 16px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    .p-cart-btn.white{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px !important;
        border: none;
    }
    .p-cart__btn-red-icon{
        display: inline-block;
        width: 20px;
        height: 12px;
        margin-right: 10px;
    }
    .p-cart__cross{
        top: -40px;
    }
    .p-cart__cross-icon{
        display: none;
    }
    .p-cart__cross-icon.mobile{
        display: block;
    }
    .p-cart-set{
        margin-bottom: 0;
        margin-top: 0;
    }
    .p-cart.in-row .p-cart-set{
        margin-top: 50px;
    }
    .p-cart-set__title{
        padding: 16px 20px 18px 20px;
    }
    .p-cart-set__title-name{
        display: none;
    }
    .p-cart-set__title-name.mobile{
        display: block;
        font-weight: 500;
    }
    .p-cart-set__title-count span{
        display: none;
    }
    .p-cart-set__content{
        margin-top: 15px;
        padding: 0 20px 7px 20px;
    }
    .p-cart-set__item{
        flex-direction: column;
        align-items: baseline;
    }
    .p-cart-set__item-name{
        width: auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
    }
    .p-cart-set__item-img{
        margin-bottom: -30px;
        min-width: 65px;
        width: 65px;
    }
    .p-cart-set__item-img{
        max-width: 65px;
    }
    .p-cart-set__item-link{
        width: 100%;
    }
    .p-cart-set__item-count{
        padding-left: 85px;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
    }
    .p-cart-set__item-price{
        padding-left: 85px;
        font-weight: 600;
        font-size: 14px;
        line-height: 257%;
    }
}

@media screen and (max-width: 360px) {
    .p-cart-product__count-input-block{
        width: 100px;
    }
    .p-cart-product__count,
    .p-cart-product__10percent,
    .p-cart-product__price{
        padding-left: 100px;
    }
    .p-cart-product__image{
        max-width: 80px;
        width: 80px;
    }
    .p-cart-product__image a{
        display: block;
        width: 80px;
    }
    .p-cart-product__image img{
        max-width: 80px;
    }
    .p-cart-product__desc{
        padding-left: 20px;
        margin-left: 0;
    }
    .p-cart.in-row .p-cart-product__count-price{
        left: calc(100px + (100px / 2)); 
    }
    .p-cart-product__price-wrap{
        padding-left: 100px;
    }
    .p-cart-product__price{
        padding: 0;
    }
    .p-cart-product__count-price{
        width: 100px;
    }
}